* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
}

ul,
ul li {
  list-style: none;
}

input,
textarea,
button,
select {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
}
